In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import linear_model
import math

In [58]:
data= pd.read_csv('./marketing_customer_analysis.csv')
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [59]:
data.isna().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [60]:
data.shape

(9134, 24)

In [62]:
data.shape

(9134, 24)

In [63]:
print(data.shape)

(9134, 24)

In [64]:
data= data.drop_duplicates()
data.shape

(9134, 24)

In [65]:
#separate the features(we are trying to predict the Traget so this one will be the feature) from the labels
y= data['Total Claim Amount'] # this one is the feature we are trying to predict
X= data.drop(['Total Claim Amount'],axis=1) # this are the rest of labelss

In [66]:
X_num= X.select_dtypes(include=np.number)
X_cat= X.select_dtypes(include=np.object)

In [67]:
X_num.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies
0,2763.519279,56274,69,32,5,0,1
1,6979.535903,0,94,13,42,0,8
2,12887.431650,48767,108,18,38,0,2
3,7645.861827,0,106,18,65,0,7
4,2813.692575,43836,73,12,44,0,1

In [68]:
X_cat.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [69]:
from sklearn.preprocessing import StandardScaler
Standardtransformer = StandardScaler().fit(X_num)
X_standardized = Standardtransformer.transform(X_num)
print(X_standardized.shape)
X_standardized = pd.DataFrame(X_standardized,columns=X_num.columns)

(9134, 7)

In [70]:
#what about categoricals?
X_cat.head()

,Customer,State,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Location Code,Marital Status,Policy Type,Policy,Renew Offer Type,Sales Channel,Vehicle Class,Vehicle Size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [71]:
X_cat['Gender'].value_counts()

F    4658
M    4476
Name: Gender, dtype: int64

In [72]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder().fit(X_cat[['Gender']])
print(encoder.categories_)
encoded = encoder.transform(X_cat[['Gender']]).toarray()
print(encoded)
onehot_encoded = pd.DataFrame(encoded,columns=encoder.categories_)
onehot_encoded.head()

[array(['F', 'M'], dtype=object)]
[[1. 0.]
 [1. 0.]
 [1. 0.]
 ...
 [0. 1.]
 [0. 1.]
 [0. 1.]]

     F    M
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  0.0  1.0
4  0.0  1.0

In [73]:
X_cat['Vehicle Size'].value_counts()

Medsize    6424
Small      1764
Large       946
Name: Vehicle Size, dtype: int64

In [74]:
encoder2 = OneHotEncoder().fit(X_cat[['Vehicle Size']])
print(encoder2.categories_)
encoded2 = encoder2.transform(X_cat[['Vehicle Size']]).toarray()
print(encoded2)
onehot_encoded2 = pd.DataFrame(encoded2,columns=encoder2.categories_)
onehot_encoded2.head()

[array(['Large', 'Medsize', 'Small'], dtype=object)]
[[0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 ...
 [0. 1. 0.]
 [1. 0. 0.]
 [0. 1. 0.]]

  Large Medsize Small
0   0.0     1.0   0.0
1   0.0     1.0   0.0
2   0.0     1.0   0.0
3   0.0     1.0   0.0
4   0.0     1.0   0.0

In [75]:
onehot_encoded2 = onehot_encoded2.drop(['Small'],axis=1)
onehot_encoded2.head()

  Large Medsize
0   0.0     1.0
1   0.0     1.0
2   0.0     1.0
3   0.0     1.0
4   0.0     1.0

In [76]:
X_cat['Marital Status'].value_counts()

Married     5298
Single      2467
Divorced    1369
Name: Marital Status, dtype: int64

In [77]:
encoder3 = OneHotEncoder().fit(X_cat[['Marital Status']])
print(encoder3.categories_)
encoded3 = encoder3.transform(X_cat[['Marital Status']]).toarray()
print(encoded3)
onehot_encoded3 = pd.DataFrame(encoded3,columns=encoder3.categories_)
onehot_encoded3.head()

[array(['Divorced', 'Married', 'Single'], dtype=object)]
[[0. 1. 0.]
 [0. 0. 1.]
 [0. 1. 0.]
 ...
 [0. 0. 1.]
 [0. 1. 0.]
 [0. 0. 1.]]

  Divorced Married Single
0      0.0     1.0    0.0
1      0.0     0.0    1.0
2      0.0     1.0    0.0
3      0.0     1.0    0.0
4      0.0     0.0    1.0

In [78]:
onehot_encoded3 = onehot_encoded3.drop(['Divorced'],axis=1)
onehot_encoded3.head()

  Married Single
0     1.0    0.0
1     0.0    1.0
2     1.0    0.0
3     1.0    0.0
4     0.0    1.0

In [79]:
encoder4 = OneHotEncoder().fit(X_cat[['EmploymentStatus']])
print(encoder4.categories_)
encoded4 = encoder4.transform(X_cat[['EmploymentStatus']]).toarray()
print(encoded4)
onehot_encoded4 = pd.DataFrame(encoded4,columns=encoder4.categories_)
onehot_encoded4.head()

[array(['Disabled', 'Employed', 'Medical Leave', 'Retired', 'Unemployed'],
      dtype=object)]
[[0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1.]
 [0. 1. 0. 0. 0.]
 ...
 [0. 0. 0. 0. 1.]
 [0. 1. 0. 0. 0.]
 [0. 0. 0. 0. 1.]]

  Disabled Employed Medical Leave Retired Unemployed
0      0.0      1.0           0.0     0.0        0.0
1      0.0      0.0           0.0     0.0        1.0
2      0.0      1.0           0.0     0.0        0.0
3      0.0      0.0           0.0     0.0        1.0
4      0.0      1.0           0.0     0.0        0.0

In [80]:
onehot_encoded4 = onehot_encoded4.drop(['Unemployed'],axis=1)
onehot_encoded4.head()

  Disabled Employed Medical Leave Retired
0      0.0      1.0           0.0     0.0
1      0.0      0.0           0.0     0.0
2      0.0      1.0           0.0     0.0
3      0.0      0.0           0.0     0.0
4      0.0      1.0           0.0     0.0

In [81]:
#ahora juntamos los numerical con los categorical convertidos en numerical
X = pd.concat([X_standardized, onehot_encoded, onehot_encoded2, onehot_encoded3, onehot_encoded4], axis=1)
X.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,"(F,)","(M,)","(Large,)","(Medsize,)","(Married,)","(Single,)","(Disabled,)","(Employed,)","(Medical Leave,)","(Retired,)"
0,-0.762878,0.612827,-0.703925,1.678099,-1.543287,-0.42225,-0.822648,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1,-0.149245,-1.239617,0.022691,-0.208186,-0.217334,-0.42225,2.106160,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.710636,0.365710,0.429596,0.288205,-0.360680,-0.42225,-0.404247,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
3,-0.052263,-1.239617,0.371467,0.288205,0.606907,-0.42225,1.687759,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,-0.755575,0.203390,-0.587666,-0.307465,-0.145661,-0.42225,-0.822648,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0

In [82]:
y = data['Total Claim Amount']
y.head()

0     384.811147
1    1131.464935
2     566.472247
3     529.881344
4     138.130879
Name: Total Claim Amount, dtype: float64

In [98]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1000)

In [99]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(6850, 17)
(2284, 17)
(6850,)
(2284,)

In [100]:
X_train.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,"(F,)","(M,)","(Large,)","(Medsize,)","(Married,)","(Single,)","(Disabled,)","(Employed,)","(Medical Leave,)","(Retired,)"
5114,1.265469,1.439933,0.313337,-0.903134,-1.041575,-0.422250,-0.404247,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2438,-0.795310,0.161287,-0.820183,-1.101690,-0.468190,-0.422250,-0.822648,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
312,-0.309400,1.586649,-0.587666,-1.200968,-1.041575,-0.422250,1.269358,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
4039,0.222892,0.815176,-0.384214,0.685317,0.069358,1.774747,-0.404247,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
5801,-0.794779,0.111976,-0.849248,-0.903134,-1.292431,-0.422250,-0.822648,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [101]:
X_test.head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,"(F,)","(M,)","(Large,)","(Medsize,)","(Married,)","(Single,)","(Disabled,)","(Employed,)","(Medical Leave,)","(Retired,)"
768,-0.809762,-1.239617,-0.820183,-0.803856,-0.719046,-0.422250,-0.822648,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1477,-0.505693,-0.099327,0.691177,0.784596,0.212705,1.774747,-0.822648,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
3902,0.072187,1.365965,0.371467,-0.307465,-1.543287,-0.422250,1.687759,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
2713,1.579020,-1.239617,2.318797,0.883874,-0.969902,-0.422250,-0.404247,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
165,-0.034026,-0.519496,-0.732989,-0.307465,-0.719046,-0.422250,-0.404247,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [102]:
model = linear_model.LinearRegression()
model = model.fit(X_train,y_train)

In [103]:
model.predict(X_test)

array([359.88433905, 502.14115001, 385.27294122, ..., 465.42865658,
       480.12339237, 370.92534831])

In [104]:
from sklearn.metrics import r2_score

r2_score(y_test,model.predict(X_test))

0.5595965611074807

In [105]:
predicted= model.predict(X_test)

In [106]:
from sklearn.metrics import mean_squared_error, r2_score

In [107]:
from sklearn.metrics import r2_score

predictions= model.predict(X_test)
r2_score(y_test, predictions)

0.5595965611074807

In [108]:
mse = mean_squared_error(y_test, predictions)
print(mse)

37303.70207314937

In [109]:
rmse = math.sqrt(mse)
print(rmse)

193.14166322456003

In [110]:
from sklearn.metrics import mean_absolute_error

In [111]:
mae = mean_absolute_error(y_test, predictions)
print('Using scikit-lean, the error is {}'.format(mae))

Using scikit-lean, the error is 138.62847466738336